
<!doctype html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.2.11/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="protractorTest.js"></script>
  </head>
  <body>
    <div ng-controller="FetchCtrl">
      <select ng-model="method">
      
      <h3>New Tasks</h3>
      <input type="text" ng-model="url" size="80"/>
      <p></p>
       <option>ADD</option>
        <option>JSONP</option>
      </select>
     
      <pre>http status code: {{status}}</pre>
      <pre>http response data: {{data}}</pre>

      <h3>Current Tasks:</h3> <button id="fetchbtn" ng-click="fetch()">fetch</button><br>
        <li ng-repeat="task in data">  
            <span> <a href="" ng-click="cancel()">task: {{task.task}}</a></span>
        </li>
       
    <p></p>
        <button id="fetchbtn" ng-click="clear()">clear</button><br>


         <p></p>
         
  <li ng-repeat="task in data"> 
    Clear: <input type="checkbox" ng-model="checked" ng-init="checked=true" /><br/>
    <span ng-if="checked" class="animate-if">
        <span> <a href="" ng-click="cancel()">task: {{task.task}}</a></span>
    </span>
     </li>
    </div>
  </body>
</html>
