
<!doctype html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.2.11/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="protractorTest.js"></script>
  </head>
  <body>
    <div ng-controller="FetchCtrl">
      <select ng-model="method">
        <option>GET</option>
        <option>JSONP</option>
      </select>
      <input type="text" ng-model="url" size="80"/>
      <button id="fetchbtn" ng-click="fetch()">fetch</button><br>
     
      <pre>http status code: {{status}}</pre>
      <pre>http response data: {{data}}</pre>
      
         <li ng-repeat="task in data">
                  
                    <span>task: {{task}}</span>
                </li>

    </div>
  </body>
</html>
